body{
    margin: 10px 50px 10px;
}

.dishes{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.filterOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
    font-size: large;
    border-bottom: 1px solid black;
}
a{
    cursor: pointer;
    color:  blue;
}
.dish-card{
    display:  flex;
    gap: 20px;
    align-items: center;
}
.details{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
}